:root {
    --ct-theme-color:  #0057FC;
    --ct-theme-color-2: #FFE815;
    --ct-black: black;
    --ct-white: white;
    --ct-grey-color: #f6f6f6;
    --ct-grey-color-2: #f6f6f6;
    --ct-grey-color-3: #f6f6f6;
    --ct-grey-color-4: #f6f6f6;
}